albumentations==1.3.0
comet_ml==3.33.3
coremltools==6.3.0
Flask==2.3.2
GitPython==3.1.31
grequests==0.6.0
ipython==8.13.2
matplotlib==3.5.3
mouse==0.7.1
mss==9.0.1
numpy==1.21.5
onnx==1.14.0
onnxruntime==1.14.1
onnxsim==0.4.28
opencv_python_headless==4.7.0.72
openvino==2022.3.0
paddle==1.0.2
pafy==0.5.5
pandas==1.3.5
Pillow==9.5.0
psutil==5.9.4
PyAutoGUI==0.9.53
pycocotools==2.0.6
pywin32==305
PyYAML==6.0
requests==2.28.2
scipy==1.7.3
seaborn==0.12.2
setuptools==67.0.0
tensorflow==2.12.0
tensorflowjs==4.6.0
tensorrt==8.6.1
tflite_runtime==2.12.0
tflite_support==0.4.3
thop==0.1.1.post2209072238
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.64.1
tritonclient==2.33.0
x2paddle==1.4.1
